### Join all the CSVs

In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('kijiji-470.csv')
b = pd.read_csv('kijiji-2856.csv')
c = pd.read_csv('kijiji-36 - part 3.csv')
d = pd.read_csv('kijiji-part4.csv')

In [3]:
final = pd.concat([a,b,c,d])

In [4]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3729 entries, 0 to 364
Data columns (total 7 columns):
Title           3728 non-null object
Price           3729 non-null object
Description     3729 non-null object
Location        3728 non-null object
Ddate Posted    3688 non-null object
Features        3727 non-null object
URL             0 non-null float64
dtypes: float64(1), object(6)
memory usage: 233.1+ KB

In [7]:
final.head()

,Title,Price,Description,Location,Ddate Posted,Features,URL
0,One Bedroom Suites Cherryhill Village for Ren...,"$1,145.00","[<div class=""descriptionContainer-3544745383"">...","<span class=""address-3617944557"" itemprop=""add...","<time datetime=""2019-09-04T17:54:00.000Z"" titl...",Unit TypeApartment : Bedrooms1 : Bathrooms1 : ...,NaN
1,Upgraded 2 bedroom apartment for rent in Owen ...,"$1,625.00","[<div class=""descriptionContainer-3544745383"">...","<span class=""address-3617944557"" itemprop=""add...","<time datetime=""2019-08-29T00:09:19.000Z"" titl...",Unit TypeApartment : Bedrooms2 : Bathrooms1 : ...,NaN
2,Well furnished room in a super clean house in ...,$800.00,"[<div class=""descriptionContainer-3544745383"">...","<span class=""address-3617944557"" itemprop=""add...","<time datetime=""2019-09-01T19:26:36.000Z"" titl...",Furnished : YesPet Friendly : No,NaN
3,"Cambridge - Secure Outdoor Parking (Vehicles, ...",$55.00,"[<div class=""descriptionContainer-3544745383"">...","<span class=""address-3617944557"" itemprop=""add...","<time datetime=""2019-09-02T22:55:50.000Z"" titl...",More Info : Parking,NaN
4,MAIN FLOOR 1 BEDROOM APT IN AN 11 PLEX,$850.00,"[<div class=""descriptionContainer-3544745383"">...","<span class=""address-3617944557"" itemprop=""add...","<time datetime=""2019-09-01T00:55:07.000Z"" titl...",Unit TypeApartment : Bedrooms1 : Bathrooms1 : ...,NaN